<div class="container col-md-6">
  <div class="card">
      <div class="card-header">
          <h3>Formulario</h3>
      </div>
      <div class="card-body">
          <form [formGroup]="formAdd">
            <button class="btn btn-info" [attr.disabled]="true">Guardar</button>
            <button (click)="ActualizarInfo()" class="btn btn-info" style="margin-left: 10px;">Editar</button>
            <button (click)="Eliminar(Usuarios)" class="btn btn-info" style="margin-left: 10px;">Delete</button>
            <br>
            <br>
            <div class="form-group">
                <label for="">Id:</label>
                <input type="text" class="form-control" [(ngModel)]="Usuarios.id_usuario" formControlName="id" [attr.disabled]="true">
            </div>
            <br>
            <div class="form-group">
                <label for="">Nombre de usuario:</label>
                <input type="text" class="form-control" [(ngModel)]="Usuarios.nombre" formControlName="nombre" [attr.disabled]="true">
            </div>
            <br>
            <label>Rol:</label>
              <select class="form-select" aria-label="Default select example" formControlName="rol" [attr.disabled]="true">
                <option *ngFor="let objeto of roles" [value]="objeto.id_rol">{{objeto.nombre}}</option>
              </select>

              <br>
              <div class="form-group">
                <label>Activo</label>
                <div class="form-control" >
                  <label class="radio-inline">
                  <input type="radio" value="1" [(ngModel)]="Usuarios.activo" formControlName="activo" [attr.disabled]="true"> Sí
                  </label>
                  <label class="radio-inline" style="margin-left: 10px;">
                  <input type="radio" value="2" [(ngModel)]="Usuarios.activo" formControlName="activo" [attr.disabled]="true"> No
                  </label>
                </div>
              </div>
              <br>
          </form>
      </div>
  </div>
</div>
